__pycache__/*
basemodels/__pycache__/*
configurations/__pycache__/*
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.vscode/
.idea/
Famale_Face_Recgnition.egg-info/
Famale_Face_Recgnition/__pycache__/*
Famale_Face_Recgnition/commons/__pycache__/*
Famale_Face_Recgnition/basemodels/__pycache__/*
Famale_Face_Recgnition/extendedmodels/__pycache__/*
Famale_Face_Recgnition/subsidiarymodels/__pycache__/*
Famale_Face_Recgnition/detectors/__pycache__/*
tests/dataset/*.pkl
.DS_Store
Famale_Face_Recgnition/.DS_Store
/tests
*.json
